.slides{
  max-width: 1312px;
  height: 760px;
  margin: auto;
  border-radius: 12px;
  background-size: cover;
}
.card{
    width: 600px;
    height: 280px;
    
}


.cont{
    max-width: 1312px!important;
    margin: auto;
    flex-wrap: wrap;
    margin-top: 64px;
    align-content: center ;
}

.left,.right{
    width: 304px;
    display: flex;
    height: 519px;
    flex-wrap: wrap;
    align-content: space-between;
}
.middle{
    width: 604px;  
    box-sizing: border-box;
}

.newscard{
    width: 100%;
    height: 244px;
}
.newscard img{
    height: 150px;
    
}
.middle-news-card{
    height: 519px;
}

@media screen and (max-width:1350px){
    .slides, .cont{
        width: 1200px;
    }
    .left, .right{
        width: 270px;
    }
    .middle{
        width: 550px;
    }
}

@media screen and (max-width:1240px){
    .slides, .cont{
        width: 1128px;
    }
    .slides{
        height: 700px;
    }
    .left, .right{
        width: 264px;
    }
    .middle{
        width: 552px;
    }
}

@media screen and (max-width:1170px){
    .slides, .cont{
        width: 1000px;
    }
    .slides{
        height: 670px;
    }
    .left, .right{
        width: 234px;
    }
    .middle{
        width: 502px;
    }
}
@media screen and (max-width:1024px){
    .slides, .cont{
        width: 928px;
    }
    .slides{
        height: 560px;
    }
    .cont{
        justify-content: center;
    }
    .left, .right{
        width: 928px;
        justify-content: space-between;
        height: auto;
    }
    .middle{
        width:928px;
        height: 520px;
        order:-1;
    }
    .newscard{
       width: 448px;
       margin-top: 32px;
    }

}